<!DOCTYPE html>
<html>

<head>
    <% include ../partials/header %>
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <% include ../partials/nav %>
        </div>
    </nav>
    <div class="col-sm-3 col-md-2 sidebar">
        <div class="drop-navigation drop-navigation">
            <% include ../partials/sidebar %>
        </div>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <div class="show-top-grids">
            <div class="col-sm-12 show-grid-left main-grids">
                <div class="recommended">
                    <div class="recommended-grids english-grid">
                        <div class="recommended-info">
                            <div class="heading">
                                <h3>Browse Videos </h3>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                        <% if(dashboard && dashboard.length > 0){ %>
                            <% dashboard.forEach(function(item){ %>
                                <% let videohref = "/video/"+item.video_id; %>
                                    <% if(item.video_thumbnail == "nothumb.png"){
                            var imgSrc = "/assets/images/nothumb.png";
                        } else {
                            var imgSrc = "/public/media/"+item.user_id+"/"+item.video_thumbnail;
                        } %>

                                        <div class="col-md-3 resent-grid recommended-grid movie-video-grid">
                                            <div class="resent-grid-img recommended-grid-img">
                                                <a href=<%=videohref %> class=
                                    <%= item.video_name %>><img src=<%=imgSrc %> alt="" /></a>

                                            </div>
                                            <div class="resent-grid-info recommended-grid-info recommended-grid-movie-info">
                                                <h5><a href=<%=videohref %>>
                                        <%= item.video_name %></a></h5>
                                                <ul>
                                                    <li>
                                                        <p class="author author-info"><a href="#" class="author">Saideep</a></p>
                                                    </li>
                                                    <li class="right-list">
                                                        <p class="views views-info">
                                                            <%= item.video_views %> views</p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <% }) %>
                                            <% } else { %>

                                                No Videos found
                                                <% } %>



                                                    <div class="clearfix"> </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
        <!-- footer -->
        <div class="footer">
            <% include ../partials/footer %>
        </div>

        <!-- //footer -->
    </div>
</body>

</html>